@media screen and (min-width: 992px) {
  .eyes-section {
    margin-bottom: -18px;
  }

  .nose-section {
    margin-bottom: -18px;
  }

  hr {
    margin: 16px 0;
  }

  .eyes-text {
    margin-bottom: 0;
  }

  .word-of-text {
    font-size: 2rem;
  }

  .said {
    font-size: 1.5rem;
    margin-bottom: -8px;
  }

  .name {
    font-size: 5.4rem;
  }

  .webdev {
    font-size: 5.3rem;
  }

  .good-one {
    margin-bottom: -14px;
  }

  .number-one {
    font-size: 10rem;
    margin-bottom: -45px;
  }
}