/* Fonts */

.logo,
.a,
h2 {
  font-family: "Amatic SC", cursive;
}

.logo-dev {
  font-family: "Modak", cursive;
}

/* Font Size */

.logo-dev,
.name,
.webdev {
  font-size: 3rem;
}

/* Font Weight */

.nav-link,
.name,
.webdev,
.word-of-text,
.number-character,
.number-one {
  font-weight: bold;
}

/* Color */

.logo,
.nav-link {
  color: black;
}

/* Navbar */
@import "navbar";

/* Home Section */
@import "home";

/* Media queries */
/* 768px and above */
@import "768px";

/* 992px and above */
@import "992px";

/* 1200px and above */
@import "1200px";

/* 1400px and above */
@import "1400px";
