/* font-family: 'Amatic SC', cursive;
font-family: 'Modak', cursive; */

/* Header Section */
body {
  background-color: black;
  animation-name: fade-out;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.eyes-img, .nose-img, .mouth-img {
  opacity: 0;
  animation-name: fade-in-images;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

hr,
.nav-container,
.eyes-section,
.nose-section,
.mouth-section1,
.mouth-section2,
.mouth-section3 {
  opacity: 0;
  animation-name: fade-in-text;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    background-color: black;
  }

  50% {
    background-color: black;
  }

  100% {
    background-color: white;
  }
}

@keyframes fade-in-images {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.logo {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  color: black;
  text-align: left;
}

.logo-dev {
  font-family: 'Modak', cursive;
  font-size: 3rem;
}

li {
  list-style: none;
}

a {
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
  width: 20px;
  transform: translateY(3px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  transform: translateY(-4px) translateX(-14px) rotate(-45deg);
}

.bar {
  display: block;
  width: 40px;
  height: 2px;
  margin-top: 5px;
  margin-left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.bar:last-of-type {
  width: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: -100%;
  left: 0;
  padding-left: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: 1s ease-in-out;
}

.nav-menu.active {
  top: 100px;
  padding-left: 0;
  left: 0;
  transition: 1s ease-in-out;
}

.nav-link{
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.nav-link:hover{
  color: #9b9aa0;
}

.nav-item {
  margin: 10px;
}

#home.active {
  margin-top: 344px;
  transition: 1s ease-in-out;
}

#home {
  margin-top: 0;
  transition: 1s ease-in-out;
}

hr {
  margin: 0;
}

hr:nth-of-type(2) {
  margin-top: 16px;
  margin-bottom: 8px;
}
/* Home Section */

.eyes-img {
  border-radius: 0 30px 0 30px;
}

.nose-img {
  border-radius: 0 0 30px 30px;
}

.mouth-img {
  border-radius: 30px 0 30px 0;
}

h2 {
  font-family: 'Amatic SC', cursive;
}

.name, .webdev {
  font-size: 3rem;
  font-weight: bold;
}

.word-of-text {
  font-size: 2.5rem;
  font-weight: bold;
}

.number-character {
  font-size: 4rem;
  font-weight: bold;
}

.number-one {
  font-size: 6rem;
  font-weight: bold;
}


/* Media queries */
/* 768px and above */
@media screen and (min-width: 768px) {
 .it-is-said-text {
    margin-bottom: -30px;
  }

  .name {
    font-size: 3.8rem;
  }

  .webdev {
    font-size: 3.5rem;
  }
}

/* 992px and above */
@media screen and (min-width: 992px) {
  .eyes-section {
    margin-bottom: -18px;
  }

  .nose-section {
    margin-bottom: -18px;
  }

  hr {
    margin: 16px 0;
  }

  .eyes-text {
    margin-bottom: 0;
  }  

  .word-of-text {
    font-size: 2rem;
  }

  .said {
    font-size: 1.5rem;
    margin-bottom: -8px;
  }

  .name {
    font-size: 5.4rem;
  }

  .webdev {
    font-size: 5.3rem;
  }

  .good-one {
    margin-bottom: -14px;
  }

  .number-one {
    font-size: 10rem;
    margin-bottom: -45px;
  }
}

/* 1200px and above */
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 3rem;
  }
  
  .logo-dev {
    font-size: 6rem;
  }

  .hamburger.active .bar:nth-child(1) {
    width: 40px;
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-4px) translateX(-27px) rotate(-45deg);
  }

  .bar {
    width: 80px;
    height: 3px;
    margin-top: 10px;
    margin-left: 0;
  }
  
  .bar:last-of-type {
    width: 40px;
  }
  
  .eyes-section {
    margin-bottom: -20px;
  }
  
  .eyes-text {
    margin-bottom: 0;
  }  
  .name {
    font-size: 6.5rem;
  }

  .webdev {
    font-size: 6.5rem;
  }

  .said {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .word-of-text {
    font-size: 3rem;
  }

  .number-one {
    font-size: 12rem;
    margin-bottom: -45px;
  }
}

/* 1400px and above */
@media screen and (min-width: 1400px) {
  .logo {
    font-size: 3rem;
  }
  
  .logo-dev {
    font-size: 6rem;
  }

  .bar {
    width: 80px;
    height: 3px;
    margin-top: 10px;
    margin-left: 0;
  }
  
  .bar:last-of-type {
    width: 40px;
  }
  
  .eyes-section {
    margin-bottom: -25px;
  }
  
  .eyes-text {
    margin-bottom: 0;
    text-align: left;
    vertical-align: baseline;
  }  
  .name {
    font-size: 7.8rem;
  }

  .nose-section {
    margin-bottom: -30px;
  }

  .webdev {
    font-size: 7.8rem;
  }

  .it-is-said-text {
    margin-bottom: 10px;
  }

  .number-one {
    font-size: 14rem;
    margin-bottom: -67px;
  }
}
